wp-content/uploads/*
index.html
.idea
.vagrant
node_modules
mcc-logs

.project
**/.DS_Store
readme.html

wp-config.php

database/

[Dd]esktop.ini
Thumbs.db
ehthumbs.db
.Trashes
.DS_Store
.DS_Store?
$RECYCLE.BIN/
*.lnk

php_errors.log
debug.log

wp-admin/php_errors.log
**/.vscode

phpinfo.php